.boxpart{
    background-color: #343a40;
    padding:105px 5px 185px 5px;
    color:white;
    margin-bottom: 50px;
  }
  .navbar-nav{
    flex-direction: row !important;
  }
  .nav-item{
    margin:0px 10px;
  }
  .maincontent{
margin:1px 10px 30px 10px;
  }
  img{
    margin:40px 1px;
    max-height: 380px !important;
    object-fit: cover;
  }
  .row{
    justify-content: center;
  }
  .btnclr{
    color:white;
    background-color: orange;
  }
  .boxpart1{
    background-color: #343a40;
    padding:25px 5px 15px 5px;
    color:white;
    margin: 80px 1px 40px 1px;

  }
  .line-container {
    position: relative;
    width: 100%;
    margin-bottom:100px;
  }
  .text-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff; /* Set background color as needed */
    padding: 0 10px; /* Adjust padding as needed */
  }
  .textstyle {
    transform: translate(-50%,-90%);
    font-size: 20px;
    font-weight: bolder;
  }
  .card{
    margin:1px 1px 100px 1px;
  }
  .boxpart2{
    background-color: #343a40;
    padding:45px 20px 30px 5px;
    color:white;
    margin: 80px 0px 1px 0px;

  }
  .about{
    font-size: 15px;
    font-weight: bold;
  }
  .vline{
    border-left: 1px solid #6c757d;
  }
  .container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }